@font-face {
  font-family: "iconfont"; /* Project id 5185953 */
  src: url('iconfont.ttf?t=1780570356316') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhiding:before {
  content: "\e610";
}

.icon-huazhonghua:before {
  content: "\e75a";
}

.icon-delete:before {
  content: "\e61c";
}

.icon-add:before {
  content: "\e6a7";
}

.icon-open_file:before {
  content: "\ead4";
}

.icon-quanping:before {
  content: "\e615";
}

.icon-suoxiao:before {
  content: "\e616";
}

.icon-jietu:before {
  content: "\e931";
}

.icon-Autoplay:before {
  content: "\e61a";
}

.icon-caidan:before {
  content: "\e602";
}

.icon-pause:before {
  content: "\e7fe";
}

.icon-play:before {
  content: "\e625";
}

.icon-next:before {
  content: "\e600";
}

.icon-arrow:before {
  content: "\e695";
}

