#app,
body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.video-player-wrap {
  height: calc(100% - 40px);
  width: 100%;
  background-color: transparent;
}

.video-container {
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  font-size: 12px;
  background-color: #505050;
  select {
    background-color: transparent;
    border: none;
    padding: 0 4px;
    color: dodgerblue;
    outline: none;
  }
  &.is-menu {
    .video-content {
      width: calc(100% - 200px);
      height: 100%;
      overflow: hidden;
    }
    .video-list {
      display: inline-block;
      border-left: solid 1px rgba(255, 255, 255, 0.3);
    }
    .video-player .video-contols {
      width: calc(100% - 200px);
    }
  }
  .video-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .video-list {
    transition: all 0.2s;
    display: none;
    width: 200px;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
  }

  .video-player {
    height: 100%;
    width: 100%;
    .video-canvas {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      > canvas {
        pointer-events: none;
      }
    }
    video {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
    .video-contols {
      position: absolute;
      z-index: 3;
      left: 0px;
      bottom: 0px;
      width: 100%;
      display: none;
    }
    &:hover {
      .video-contols {
        display: block;
      }
    }
  }
}

.video-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.iconfont.icon-next.pre {
  transform: rotate(180deg);
}
.video-tool {
  font-size: 16px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  &.active {
    color: dodgerblue;
  }
}

.video-item {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  min-height: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 10px;
  overflow: hidden;
  gap: 8px;
  width: 100%;

  &:not(:last-child) {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  .icon-list1 {
    cursor: move;
  }
  > span {
    display: inline-block;
    width: calc(100% - 40px);
  }
  > i {
    display: inline-block;
    font-size: 12px;

    cursor: pointer;
  }

  &:hover {
    color: white;
  }
  &.active {
    color: dodgerblue;
  }
}
.video-title {
  padding: 0 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 40px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
